@using JobTrackingSystem.ViewModels;
@model CreateViewModel

@{
    ViewData["Title"] = "Новое задание";
}

<h2>Новое задание</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="trackingTask.taskName" class="control-label">Задание:</label>
                <input asp-for="trackingTask.taskName" class="form-control" />
                <span asp-validation-for="trackingTask.taskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trackingTask.whoGave" class="control-label">Кто выдал:</label>
                <select asp-for="trackingTask.whoGave" asp-items="Model.Users"><option value="">Выберите пользователя</option></select>
            </div>
            <div class="form-group">
                <label asp-for="trackingTask.status" class="control-label">Статус</label>
                <input asp-for="trackingTask.status" class="form-control" />
                <span asp-validation-for="trackingTask.status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trackingTask.dateOfTaking" class="control-label">Дата выдачи:</label>
                <input asp-for="trackingTask.dateOfTaking" class="form-control" />
                <span asp-validation-for="trackingTask.dateOfTaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>