@model JobTrackingSystem.Models.TrackingTask

@{
    ViewData["Title"] = "Новое задание";
}

<h2>Новое задание</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="taskName" class="control-label">Задание:</label>
                <input asp-for="taskName" class="form-control" />
                <span asp-validation-for="taskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="whoGave" class="control-label">Кто выдал</label>
                <input asp-for="whoGave" class="form-control" />
                <span asp-validation-for="whoGave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label">Статус</label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfTaking" class="control-label">Дата выдачи:</label>
                <input asp-for="dateOfTaking" class="form-control" />
                <span asp-validation-for="dateOfTaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>