@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model JobTrackingSystem.Models.TrackingTask
@{
    ViewData["Title"] = Localizer["Edit"];
}
<form asp-action="Edit" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ShortDescription" class="control-label">@Localizer["Name"]</label><br />
        <input type="text" asp-for="ShortDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LongDescription" class="control-label">@Localizer["Task"]</label><br />
        <input type="text" asp-for="LongDescription" class="form-control" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="status" class="form-control" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="dateOfTaking" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["Update"]" class="btn btn-default" />
    </div>
</form>